.navbar {
    /*text-align: center;
    color: aqua;
    font-weight: 500;
    background-color: green;*/
}
.btn-success {
    background-color: #025157;
    border: none;
}

.sign {
    margin-right: 15px;
    
    color: #025157;;
}
